.pro-sidebar-header {
    background-color: #0066B3;
}

.pro-item-content:hover {
    color: #383c3f;
}

.pro-item-content {
    font-size: 17px;
    font-weight: 400;
    color: white;
}

.sideNavBarHeaderLogo .img {
    padding-left: 20px;
    width: 60px;
    height: 60px;
}

/* .sideNavBarHeaderLogoCollapsed {
    margin: 0;
    width: 60px;
    height: 60px;
    padding-right: 0;
} */


.sideNavBarHeaderStaycerText {
    font-weight: 600;
    font-size: 20px;
    color: white;
    padding-left: 0;
}

/* .sideNavBarToggle {
    padding-right: 30px;
}

.sideNavBarToggleCollapsed {
    padding: 0;
} */