th,
td {
    text-align: center;
}


.sideNavBar {
    /* max-width: 285px; */
    /* padding: 0; */
}

a {
    font-weight: 700;
    cursor: pointer;
}


body {
    background-color: #F0F0F7;
}

.mainContent {
    padding: 20px;
}

.topRowContent {
    max-width: 100%;
    /* flex: 0 0 80%; */
    padding: 0;
}

.generalComponentDiv {
    background-color: #FFFFFF;
    margin: 15px;
    padding: 15px;
    border-radius: 18px;
    box-shadow: -1px 0px 7px 2px rgba(171, 161, 171, 1);
}

/* .col-10,
.col-11 {
    flex-grow: 1;
    transition: all 50000ms ease;
} */